# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\crud-project\dashboard-codemi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
